@import '../../styles/variables';

.workouts-list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 18rem;
    background-color: $color-blue;

    &__no-workouts {
        font-size: 1.8rem;
        color: $color-off-white;
        opacity: 0.9;
        margin: auto;
    }

    &__tip {
        position: absolute;
        top: -3.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        opacity: 0.7;
        font-size: 1.6rem;
    }
}
