@import '../../styles/variables';

.button {
    &__container > * {
        transition: transform 0.1s ease-in-out;
    }

    &:hover .button__container > * {
        transform: scale(1.2);
    }

    &:active .button__container > * {
        transform: scale(1.2) translateY(2px);
    }

    &--play {
        &:active .button__container > * {
            transform: translateX(1rem);
        }
    }

    &--start-workout {
        position: relative;

        &:focus,
        &:visited {
            transform: scale(1.2);
        }

        * {
            font-size: 3rem;
            color: $color-off-white;
        }
    }

    &--toggle-sound {
        svg {
            height: 4rem;
            width: 4rem;
        }
    }

    &--editor-element {
        color: white;
        margin: 0 2rem;

        span {
            display: inline-block;
        }
    }
}

.expand {
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 0;
        border-radius: 100%;
        animation: 1s ease-in-out expandDimensions;
        background-color: var(--expand-color);
        opacity: 0.7;
    }
}

@keyframes expandDimensions {
    95% {
        width: 200rem;
        height: 200rem;
    }
    to {
        width: 0;
        height: 0;
        opacity: 0;
    }
}
