@import '../../styles/variables';

.button {
    &__container > * {
        transition: transform 0.15s ease-in-out;
    }

    &:hover .button__container > * {
        transform: scale(1.2);
    }

    &--play {
        &:active .button__container > * {
            transform: scale(1.2) translateX(1rem);
        }
    }

    &--start-workout {
        position: relative;

        &:focus, &:visited {
            transform: scale(1.2);
        }

        div {
            font-size: 3rem;
            color: $color-off-white;
        }
    }
}

.expand {
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 0;
        border-radius: 100%;
        animation: 1s ease-in-out expandDimensions;
        background-color: var(--expand-color);
        opacity: .7;
    }
}

@keyframes expandDimensions {
    95% {
        width: 200rem;
        height: 200rem;
    }
    to {
        width: 0;
        height: 0;
        opacity: 0;
    }
}
