@import '../../styles/variables';

.timer {
    &__wrapper {
        position: relative;
    }

    &__text-display {
        position: absolute;
        font-size: 12rem;
        font-family: $font-monospaced;
        color: white;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__circular-display {
    }
}
