@import '../../styles/variables';

.workout-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $color-red;

    &__elements {
        position: relative;
        flex: 1;

        @media only screen and (max-width: $breakpoint-md) {
            flex: unset;
            flex-basis: 75%;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20rem;

        @media only screen and (max-width: $breakpoint-md) {
            width: 30rem;
        }
    }

    &__button-wrapper {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .button {
            &__container div {
                color: $color-off-white;
                font-size: 3rem;
            }
        }

        @media only screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    &__play-btn {
        .icon {
            transition: transform 0.15s ease-in-out;
            height: 4.5rem;
            width: 4.5rem;
        }

        &:hover {
            .icon {
                transform: translate(-6px);
            }
        }

        &:active {
            .icon {
                transform: translate(4px);
            }
        }
    }

    &__total-duration-display {
        font-size: 2rem;
        color: white;

        @media only screen and (max-width: $breakpoint-md) {
            font-size: 1.5rem;
        }
    }

    &__top-bar {
        display: flex;
        height: 7rem;
        align-items: center;
        margin-left: 1rem;

        .button {
            margin-left: 3rem;

            .icon {
                width: 2rem;
                height: 2rem;
            }
        }

        @media only screen and (max-width: $breakpoint-md) {
            height: 5rem;

            .button {
                margin-left: 2rem;

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    &__modal {
        width: 40vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        @media only screen and (max-width: $breakpoint-md) {
            width: 100vw;
        }
    }

    &__settings-modal {
        background-color: coral;
    }

    &__help-modal {
        background-color: cornflowerblue;

        @media only screen and (max-width: $breakpoint-sm) {
            justify-content: flex-start;
        }
    }
}
