@import '../../styles/variables';

.swipe-list-element {
    position: relative;
    &__main {
        color: #f3f3f3;
        background-color: $color-blue;
        margin: 0;
        height: min-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
        border-bottom: 1px solid #7683ef;

        &.return {
            transition: transform 0.5s ease-in-out;
        }
    }

    &__side {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        z-index: 10;
        width: 100%;
    }
}
