$font-primary: 'Kumbh Sans', sans-serif;
$font-monospaced: 'Roboto Mono', monospace;

$color-off-white: #f3f3f3;
$color-blue: #525ec4;
$color-red: #f55151;
$color-yellow: yellow;

$breakpoint-lg: 87.5em;
$breakpoint-md: 60em;
$breakpoint-sm: 22em;
