@import '../../styles/variables';

$selection-width: 5px;
$selection-color: white;

.editor-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    &::after {
        position: absolute;
        top: -1px;
        height: 1px;
        content: '';
        width: 100%;
        background-color: var(--color);
    }

    &__name {
        color: white;
        font-size: 2rem;
    }

    &__duration {
        color: white;
        font-size: 1.8rem;
        margin-left: 5rem;
        margin-top: 2px;
    }

    &__button-group {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__picker {
        position: absolute;
        right: 7rem;
        top: 4rem;
        z-index: 200;
        width: unset !important;
        flex-wrap: unset !important;
        margin: 0 !important;
        padding: 2rem;
        background-color: $color-off-white;
        border-radius: 1rem;

        display: grid !important;
        gap: 1rem;
        grid-template-columns: repeat(6, 1fr);

        .editor-element {
            z-index: 200;
        }

        & span div {
            margin: 0 !important;
        }

        & span div span div {
            border-radius: 5px !important;
        }
    }

    &__instruction {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.2rem;
        color: white;
        opacity: 0.8;
        z-index: 150;

        &--iterations {
            font-size: 2rem;
        }
    }

    & .button--editor-element {
        z-index: 100;

        .icon {
            width: 2rem;
            height: 2rem;
            margin: 1rem 2rem;
        }
    }

    &.return {
        transition: transform 0.25s ease-in-out;
    }

    &.swap-highlight {
        &::after {
            background-color: goldenrod;
            transition: background-color 0.2s ease-in-out;
            height: 3px;
        }
    }

    &.moving {
        border: 2px solid white !important;
        border-radius: 5px;

        &::after {
            opacity: 0;
        }

        .editor-element {
            &__name {
                opacity: 0;
            }
        }
        background-color: rgba(0, 0, 0, 0.1) !important;
        z-index: 150;
    }

    & .editor-element__duration-change {
        position: absolute;
        z-index: 70;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;

        opacity: 0;

        p {
            font-size: 3rem;
            color: white;
        }
    }

    &.show-duration {
        .editor-element__duration-change {
            opacity: 1;
        }
    }

    &.selection-all {
        border: $selection-width solid $selection-color;
        border-top-width: $selection-width + 1;
        border-bottom-width: $selection-width + 1;
    }

    &.selection-top {
        border: $selection-width solid $selection-color;
        border-top-width: $selection-width + 1;
        border-bottom: none;
    }

    &.selection-bottom {
        border: $selection-width solid $selection-color;
        border-bottom-width: $selection-width + 1;
        border-top: none;
    }

    &.selection-sides {
        border: $selection-width solid $selection-color;
        border-top: none;
        border-bottom: none;
    }
}
