@import '../../styles/variables';

.editor-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    &::after {
        position: absolute;
        top: -4px;
        height: 6px;
        content: '';
        width: 100%;
        background-color: var(--color);
        transition: background-color 0.2s ease-in-out;
    }

    &__name {
        color: white;
        font-size: 2rem;
    }

    &__duration {
        color: white;
        font-size: 1.8rem;
        margin-left: 5rem;
    }

    &__button-group {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
    }

    & .button--editor-element {
        z-index: 100;

        .icon {
            width: 2rem;
            height: 2rem;
            margin: 1rem 2rem;
        }
    }

    &.return {
        transition: transform 0.25s ease-in-out;
    }

    &.swap-highlight {
        &::after {
            background-color: goldenrod;
        }
    }

    &.moving {
        border: 2px solid white;
        border-radius: 5px;

        &::after {
            opacity: 0;
        }

        .editor-element {
            &__name {
                opacity: 0;
            }
        }
        background-color: rgba(0, 0, 0, 0.1) !important;
        z-index: 150;
    }

    & .editor-element__duration-change {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.2s ease-in-out;

        opacity: 0;

        p {
            font-size: 3rem;
            color: white;
        }
    }

    &.show-duration {
        .editor-element__duration-change {
            opacity: 1;
        }
    }
}
