$z-index--modal: 900;

.modal {
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.4;
        z-index: $z-index--modal;
        cursor: pointer;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        width: max-content;
        height: max-content;
        z-index: $z-index--modal + 10;
        position: relative;

        .button {
            position: absolute;
            margin: 2.5rem;
            top: 0;
            right: 0;

            .icon {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}
