@import '../../styles/variables';

.workout-player {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color 1s ease-in-out;

    @media only screen and (max-width: $breakpoint-md) {
        padding: 0 2rem;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        flex: 1;
        width: 60rem;

        @media only screen and (max-width: $breakpoint-lg) {
            .button {
                .icon {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        @media only screen and (max-width: $breakpoint-md) {
            width: 100%;
            max-width: 60rem;
            flex: none;
            margin-top: 4rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            margin-top: 2rem;
        }

        .button {
            transition: 0.4s ease-in-out;
            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &__info {
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -9rem;

        @media only screen and (max-width: $breakpoint-md) {
            margin-top: -3rem;
        }

        & * {
            color: white;
        }
    }

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    &__interval-title {
        opacity: 0.8;
        font-size: 2.4rem;
        color: white;

        @media only screen and (max-width: $breakpoint-sm) {
            font-size: 1.8rem;
        }
    }

    &__subsection-title {
        // margin-top: 4rem;
        font-size: 6rem;
        min-height: 6rem;
        color: white;
        text-align: center;

        @media only screen and (max-width: $breakpoint-md) {
            font-size: 3rem;
            min-height: 3rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            font-size: 2.5rem;
            min-height: 2.5rem;
        }
    }

    &__title-group {
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 4rem;

        @media only screen and (max-width: $breakpoint-sm) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            max-width: 50rem;
            bottom: 27%;
            height: 6rem;
        }
    }

    &__timer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
    }

    &__finished,
    &__fallback {
        font-size: 3.5rem;
        color: white;
        margin: auto;
    }

    &__additional-info {
        position: absolute;
        top: -4rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 50rem;
        align-items: center;
    }

    &__total-timer {
        span {
            position: relative;
            opacity: 0.7;
            font-size: 2rem;
            width: max-content;
            left: unset;
        }
    }

    &__timer-container {
        position: relative;
        margin-top: -5rem;

        @media only screen and (max-width: $breakpoint-md) {
            width: 100%;
            margin-top: 13vh;
        }
        @media only screen and (max-height: 530px) {
            margin-top: 0;
        }
    }

    &__step-counter {
        opacity: 0.7;
        font-size: 2rem;
        width: max-content;
        font-family: $font-monospaced;
        color: white;
    }

    &__info-top {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 60%;
        min-width: 32rem;
        top: 11rem;
        transform: translateX(-50%);
        left: 50%;
        z-index: 250;

        @media only screen and (max-width: $breakpoint-md) {
            top: 5rem;
        }
    }

    &__workout-title {
        position: absolute;
        top: 19rem;
        left: 50%;
        font-size: 3rem;
        color: white;
        transform: translateX(-50%);
        opacity: 0.6;

        @media only screen and (max-width: $breakpoint-md) {
            top: 15rem;
            font-size: 2rem;
        }
    }
}
