.workout-player {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color 1s ease-in-out;

    &__controls {
        display: flex;
        justify-content: space-between;
        flex: 1;
        width: 60rem;

        .button {
            transition: 0.4s ease-in-out;
            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &__info {
        position: relative;
        flex-basis: 10%;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        & * {
            color: white;
        }
    }

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
    }

    &__interval-title {
        opacity: 0.8;
        font-size: 2.5rem;
    }

    &__subsection-title {
        margin-top: 4rem;
        font-size: 6rem;
        min-height: 6rem;
    }

    &__timer {
        flex-basis: 65%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__finished,
    &__fallback {
        font-size: 3.5rem;
        color: white;
        margin: auto;
    }

    &__total-timer {
        position: absolute;
        left: 50%;
        top: -5rem;
        transform: translateX(-15rem);

        span {
            opacity: 0.6;
            font-size: 3.2rem;
        }
    }
}
