.timer-circle-display {
    svg {
        width: 60rem;
        height: 60rem;
        transform: rotate(-90deg);

        circle {
            fill: none;
            stroke: white;
            opacity: 0.3;
            stroke-width: 0.9;
            stroke-linecap: round;

            &.timer-circle-display__progress {
                transition: stroke-dashoffset 0.2s;
                stroke-dasharray: 100 100;
                stroke-dashoffset: var(--offsetValue);
                stroke: white;
                opacity: 0.8;

                &.highlight {
                    transition: none;
                }
            }

            &.timer-circle-display__return {
                transition: opacity 0.3s ease-in-out;
                stroke: white;
                stroke-width: 1;
                opacity: 0;

                &.highlight {
                    opacity: 1;
                }
            }
        }
    }
}
