@import '../../styles/variables';

.start-workout {
    height: 40rem;
    background-color: $color-red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}
