@import '../../styles/variables';

.subsection-titles-editor {
    &__main-title {
        font-size: 3rem;
        color: white;
    }

    &__list {
        width: 100%;
        padding: 2rem 12rem;

        li {
            margin: 2rem 0;
        }

        @media only screen and (max-width: $breakpoint-md) {
            padding: 1rem;

            li {
                margin: .4rem 0;
            }
        }
    }
}
